<!DOCTYPE html>
<html lang="en">
<head>
   <title>About us</title>
</head>
<body>
    <div class="main">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
              <div class="home">
                <a routerLink=""> <h5>HOME</h5></a>
              </div>
                <div class="about">
            
                    <h1 class="h1"><b>ABOUT US</b></h1>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                
                                <div class="vision">
                                    <h1><b>VISION</b></h1>
                                   <h5> <p class="para">To minimize holding, replacement and shortage costs of inventories<br> and maximize the efficiency in production and distribution.</p></h5>
                                </div>
                              </div>

                              <div class="carousel-item">
                                <h1 class="h1"><b>MISSION</b></h1>
                                <h5><p class="par2">The primary goal of inventory management is to ensure that all kinds of materials are<br> accessible whenever the production department needs them, ensuring that production is <br>not stopped or slowed down due to a lack of resources.</p></h5>
                              </div>
                              
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                          <div class="des">
                           <h5> <p class="par3">You need a systematic record of inventory to run things more smoothly. Having this system makes you control your stocks and prevents you from various confusions such as duplication in orders or keeping the inventories in the wrong amount. Overstock or understock situations should always be considered.

                              We already know that under-stocking might cause scarcity and also ruins the ordering process, but overstocked products are no less risky than that.
                              
                              Suppose that you are working with spoilable materials and you overstock them. Maybe you intend to keep those inventories as a backup in case of greater demand than usual.
                              
                              However, storing way too much of them may cause you more trouble than which you can/'t meet the demand. They spoil before they get used and it eventually ends up with cost and extra effort.Operational and financial goals may be examined in regards to inventory management. The operational goal is to have an adequate supply of inventory, so that we can fulfil customer demand and the financial objective is to minimise unnecessary inventory and its associated expenses.</p></h5>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
