<!DOCTYPE html>
<html lang="en">
<!--divinectorweb.com-->
<head>
    <meta charset="UTF-8">
    <title>How to Create a Modal Using only HTML and CSS</title>
    <link rel="stylesheet" href="add.component.css">    
</head>
<body>
    <div class="wrapper">
        <div class="btn-area">
            <label for="chkBox">Add NEW</label>
        </div>
    </div>
    <div>
    <input type="checkbox" name="" id="chkBox">
    <div class="mainContnt">
        <div class="box">
            <div class="boxes bx1"></div>
            <div class="boxes bx2">
                <h3>ADD NEW ITEM</h3>
                <div class="login-form">
                    <input type="text" placeholder="Product category">
                    <input type=" text" placeholder="Product name">
                    <input type="text" placeholder="Model">
                    <input type="text" placeholder="Colour">
                    <input type="submit" value="Add">
                </div>
                <div class="close-box">
                    <label for="chkBox" class="box-close">X</label>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
