<!doctype html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>Inventorymanagement</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- Boxicons CDN link-->
   <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
   </head>
<body style="background-color:white">
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-cart-add'> </i>
   <span class="logo_name">Inventory</span>
   </div>
   <ul class="nav-link">
    <li>
      <a href="/userdash">
        <i class='bx bx-grid-alt'></i>
        <span class="logo_name">Dashboard</span>
      </a>
    </li>
    
    
    <li>
      <a href="/userdash">
        <i class='bx bx-package' ></i>
        <span class="logo_name"><a routerLink="../mycart">My Cart</a></span>
      </a>
    </li>
    <li>
      <a href="/userdash">
        <i class='bx bx-cart-add'></i>
        <span class="logo_name"><a routerLink="../invoiceuser">Invoice</a></span>
      </a>
    </li>
    
    
    
    
   
    <li class="log_out">
      
        <i class='bx bx-log-out' ></i>
        <span class="logo_name"><a routerLink="../login">Log out</a></span>
      
    </li>
</ul>
  </div>
<!--home-content-->
<section class="home-section">
 
<div class="container " >
  <h2>Dashboard</h2>
  <hr>
  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class="row">
      <form #product="ngForm">
      <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
        <div class="card" >
          <div class="card-body">
            <img src="{{i.img}}" >
            <p>Name:{{i.pname}}</p>
            <p>Category:{{i. pcategory}}</p>
            <p>price:{{i. price}}</p>
            <div>
            <div *ngIf="!i.isedit">
              <input  type="text" name="totname"  [(ngModel)]="i.totprice">
            </div>
            <div *ngIf="i.isedit">
              <input  type="text" name="tottname"  [value]="i.totprice">
            </div>
          </div>
            
           
            
              <p>qty</p>
              <p>
              
              <input type="number" name="quatity" [(ngModel)]="quantity">
             
              <button class="btn-danger" (click)="total(i)">done</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 
            <button class="btn-primary">Order</button>
          </p>
          </div>
        </div>
      </div>
    </form>
    </div>
    
  </div>
  
</div>  
      </section>
      
            
</body>
</html>

