<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <form>
                        <h3 align="center">EDIT</h3>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Product Category</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Product name</label>
                          <input type="text" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Model</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Colour</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Price</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Qty</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form> 
                </div>
                </div>
                </div>
                </div>
